*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 微软雅黑;
}
body{
    background: #f1f1f1;
}
.biaoti{
    font-family: 微软雅黑;
    font-size:20px ;
    font-weight: bold;
    color:#606060 ;
}
.xiaobiaoti{
    font-size:14px ;
    font-weight: bold;
    color:#606060 ;
}
.zhengwen{
    font-size:12px ;
    color:#606060 ;
}
/*------------------------------------顶部栏----------------------------------*/
.top{
    height: 40px;
    width: 100%;
    background: #000;
    padding-left: 190px;
    position: relative;
}
.top a{
    float: left;
    padding: 0 5px ;
    width: auto;
    height: 20px;
    font-size: 12px;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}
.top .border-a{
    border-right: 1px solid white;
}
.top .four{
    margin-left: 500px;
}
.top .tel{
    width:20px ;
    height: 20px;
    /*margin-top: 13px;*/
    background: url(../images/head.png) 0px -194px no-repeat;
}
.top .email{
    width:20px ;
    height: 20px;
    /*margin-top: 13px;*/
    background: url(../images/head.png) -114px -194px no-repeat;
    margin-top:12px;
}
.top  img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 3px;
    right: 500px;
}
.top a span{
    margin-left: 24px;
}
/*------------------------------------导航栏----------------------------------*/
.nav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background:#eeeeee;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.nav img{
    width: 150px;
    height: 56px;
    margin-left: 180px;
    margin-top: 2px;
    float: left;
}
.nav ul li{
    float: left;
    height: 10px;
}
.nav .bian{
    color: #606060;
    margin-left: 5px;
    border-right: 1px solid #666;
    padding: 0 10px;
}
.nav ul li a span.big{
    font-size: 20px;
    margin-left: 5px;
}
.nav ul li a span.small{
    font-size: 16px;
    margin-left: 24px;

}
.nav .search{
    position: absolute;
    right: 225px;
    bottom: 15px;
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
}
.nav .search input{
    width: 166px;
    height: 30px;
    position: absolute;
    top: 0;
    border: none;
    padding-left: 5px;
}
.nav .search .tubiao{
    width: 40px;
    height: 30px;
    float: right;
    cursor: pointer;
    background: url(../images/head.png)-100px -124px no-repeat ;
}
.nav .search .tubiao:hover{
    background: url(../images/head.png)-179px -124px no-repeat ;
}
/*---------------------------------------------百度接口-------------------------------------*/
#ul1 {
    border:1px solid #f90;
    width: 200px;
    height:auto;
    display: none;
    position: absolute;
    right: 225px;
    top:45px;
    z-index: 998;
    background: #fff;
}
#ul1 li{
    height: 40px;
}
.nav #ul1 li a {
    width: 190px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    display: block;
    color: gray;
}
#ul1 li a:hover{
    background: #f90;
    color: white;
}
.wrap{
    width: 880px;
    height: 2200px;
    padding:60px 50px;
    background: #fff;
    margin-left: 180px;
}
img {
    width: 200px;
}
p{
    padding:5px;
    color:gray;
    text-indent: 2em;
    font-size:14px;
}
.box {
    position: relative;
    cursor: pointer;
    perspective: 5000px;
}

.inner{
    width: 200px;
    padding:5px;
    border: 1px solid #ccc;
    position: absolute;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.inner::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    /*display: block;*/
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: all 0.3s ease-in-out;
}
.inner:hover{
    transform: translateZ(100px);
}
.inner:hover::after{
    background: rgba(0,0,0,0.4);
}
.tips {
    width:500px;
    height:40px;
    margin:20px auto;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
    background:gray;
}
